body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(14, 194, 95);
    font-size: 40px;
    height: 50px;
    
  }
  
  h1 {
    color: rgb(199, 40, 40);
  }
  
  #primes {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(61, 32, 32);
  }